Debug/
x64/
build/
**/.vs/
**/.idea/
**/.vscode/
*.tmp
*.pidb
*.DS_Store
build_osx/
build_ios/
build64/
Plugins/
xcode_proj/Build/
xcode_proj/DerivedData/
xcode_proj/Index
cmake-build-debug/
**/*.log
